#about {
  flex: 1 1 auto;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: monospace;
  font-size: 16px;
  text-align: center;
  padding: 120px 20px;

  .hopping {
    animation: hop 1s alternate infinite;
  }
}

@keyframes hop {
  0% {
    margin: -15px 0 15px 0;
  }

  80%, 100% {
    margin: 0;
  }

  10% {
    margin: -15px 0 15px 0;
  }
}
