#home {
  flex: 1 1 auto;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  font-family: monospace;
  font-size: 16px;
  text-align: center;
  padding: 120px 20px;

  .waving {
    animation: wave 0.75s alternate infinite;
  }

  h1 {
    color: #15b78f;
    font-weight: bold;
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
    color: white;
  }
}

@keyframes wave {
  100% {
    transform: rotate(20deg);
  }
}
